@{ 
    Layout = "_Layout";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="text-light">Welcome to home page</h1>
        <p class="lead text-muted text-light">introduction</p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <partial name="_BlogContent" model="new BlogPostsModel()"/>
            </div>
            <div class="col-md-4">
                <partial name="_BlogContent" model="new BlogPostsModel()"/>
            </div>
            <div class="col-md-4">
                <partial name="_BlogContent" model="new BlogPostsModel()"/>
            </div>
        </div>
    </div>
 </div>
