<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="container navbar-expand-lg navbar-light bg-white mb-2 mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="#">LOGO</a>
                
                <div class="ml-auto collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="text-dark nav-link active" href="/Home/Index">HOME<span class="sr-only">(current)</span></a>
                        <a class="text-dark nav-link" href="#">ABOUT ME</a>
                        <a class="text-dark nav-link" href="/Blog">BLOG</a>
                        <a class="text-dark nav-link" href="#">CONTACT</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top pt-3 pb-3 text-center bg-dark text-white">
        Copyright &copy;Umme Rukaya Suny @DateTime.Now.Year
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</body>
</html>
