@model IEnumerable<TestBlog2.Models.BlogPostsModel>
@{
    Layout = "_Layout";
}

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">

            @foreach (var blog in Model)
            {
                <div class="col-md-4">
                    <partial name="_BlogContent" model="blog" />
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    @Html.ActionLink("Create", "Create", new { Model })
</div>
